body {
  background-image: url(../img/MakingSteak.webp);
  height : 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fdf989;
  margin: 0;
}

h1 {
  background-color: lightyellow;
  font-style: bold;
  padding: 10px;
  display: grid;
  border:#2010ff solid 5px;
  border-radius: 46%;
  text-align: center;
  color: blue;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  color: #6359e6;
  background-color: orange;
  text-align: center;
  width: 250px;
  border:#6a59ff solid 5px;
  border-radius: 44%;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

p {
  width: 800px;
  height: 400px;
  background-color: lightblue;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-style: Bold;
  display: inline-block;
  overflow: auto;
  border: #d3ff10 solid 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic, bold;
}

ol {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic, bold;
  padding: 10px;
  margin: 10px;
  border: #000000 solid 3px;
}



div {
  font-style: bold;

}
div img{
  border:#d3ff10 solid 5px;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  display: block;
  font-weight:bold;
  background-color: #f5f105b0;
  color: #2009f1;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic, bold ;
  padding: 10px;
  margin: 10px;
  
  text-align: center;
  text-decoration : none;
  border : 1px solid #e7ff12;
  transition-duration: .5s;
  transition-property: background-color, color, border, border-radius;
}
a:hover{
  background-color: #ffffff;
  border-radius: 46%;
  color: #faab01;
}
a:focus{
  background-color: #30fd07;
  color: #6c62fe
}
a:active{
  border: 1px solid #000000;
  border-radius: 60%;
}
a:visited{
  color: #f00000;
}

nav a{
  list-style: none;
  
}
li{
  background-color: lightblue;
  
}
ul{
  list-style-type:none ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

