body {
  background-image: url(../img/HYPS.jpg);
  height : 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fdf989;
  margin: 0;
}

h1 {
  background-color: lightyellow;
  padding: 10px;
  display: grid;
  text-align: center;
  color: blue;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  color: #2010ff;
  background-color: orange;
  text-align: center;
  width: 250px;
  border-radius: 20%;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

p {
  width: 800px;
  height: 400px;
  background-color: lightblue;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  display: inline-block;
  overflow: auto;
}

li {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic, bold;
}

ol {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic, bold;
  padding: 10px;
  margin: 10px;
  border: #000000 solid 3px;
}



div {
  font-style: bold;
}

a {
  display: block;
  font-weight:bold;
  background-color: lightblue;
  color: #2010ff;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic, bold ;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration : none;
  border : 1px solid #2010ff;
}
a :hover{
  background-color: #ffffff;
  color: #2010ff;
}
a:foucs{
  background-color: #fff700;
  color: #6c62fe
}
a:active{
  border: 10px solid #000000;
}
a:visited{
  color: #8a0065;
}

nav a{
  list-style: none;
  
}
li{
  background-color: lightblue;
  
}
ul{
  list-style-type:none ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

